/* copy file to ~/.config/gtk-4.0/ and ~/.config/gtk-3.0/ */
@import 'colors.css';

/* specify font weight because gtk renders thinner fonts than qt */
/* * { font-weight: 600; } */
* { font-weight: 500; }

/* gtk renders fonts larger than qt 
 * $ gsettings set org.gnome.desktop.interface text-scaling-factor 0.93 
 */

/* remove window button backgrounds for libadwaita */
windowcontrols button image:not(:hover) {
    background-color: transparent;
}
